body,html{
    width: 100%;
    height: 100%;
}
.main{
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    min-width: 1300px;
}
.left{
    width: 170px;
    position: absolute;
    left: 0;
    z-index: 2;
}

.left{
    padding: 10px;
    background-color: #e4e4e4;
    height: 100%;
    box-sizing:border-box;
}
.left li{
    margin: 10px 0;
}
.left dl{
    padding: 5px;
    padding-left: 10px;
    width: 130px;
    height: 54px;
    background-color: #c3e6f1;
    border: 1px solid #c3c1bd;
    border-radius: 8px;
}
.left dt{
    margin-top: 10px;
    padding-right: 8px;
    margin-right: 8px;
}
.name dt{
    border-right: 1px solid rgba(255,255,255,0.6);

}
.left dd{
    font-size: 13px;
    line-height: 18px;

}
.transport dt{
    line-height: 50px;
}
.transport dd{
    margin-top:15px;
}
.top{
    background-color: #e5e5e5;
    padding: 10px;
    background: url(../images/bg2.png) repeat-x; height:70px;

}
.top span{
    display: inline-block;
    line-height: 47px;
    height: 55px;
    border-right: 1px solid #dbdada;
}
.top .double{
    width: 100px;
    height: 55px;
}
.double a{
    margin-left: 3px;
    border-radius: 10px;
}
.selects a{
    float: left;
    width: 36px;
    height: 36px;
    height: 100%;
    padding: 0 5px;
}
.first{
    background: url(../images/temp1.png) no-repeat center center;

}
.second{
    background: url(../images/temp2.png) no-repeat center center;

}
.third{
    background: url(../images/temp3.png) no-repeat center center;

}
.four{
    background: url(../images/temp4.png) no-repeat center center;

}
.five{
    background: url(../images/temp5.png) no-repeat center center;

}
.six{
    background: url(../images/temp6.png) no-repeat center center;

}
.seven{
    background: url(../images/temp7.png) no-repeat center center;

}
.eight{
    background: url(../images/temp8.png) no-repeat center center;

}
.nine{
    background: url(../images/temp9.png) no-repeat center center;

}
.ten{
    background: url(../images/temp10.png) no-repeat center center;

}
.eleven{
    background: url(../images/temp11.png) no-repeat center center;

}
.twelve{
    background: url(../images/temp12.png) no-repeat center center;

}
.thirty{
    background: url(../images/temp13.png) no-repeat center center;

}
.fourty{
    background: url(../images/temp14.png) no-repeat center center;

}
.fifty{
    background: url(../images/temp15.png) no-repeat center center;

}
.sixty{
    background: url(../images/temp16.png) no-repeat center center;

}
.seventy{
    background: url(../images/temp17.png) no-repeat center center;

}
.eighty{
    background: url(../images/temp18.png) no-repeat center center;

}
.double_1{
    margin-left: 170px;
}
.center{
    width: 100%;
    background-color: #f8f8f8;
    height: 100%;
    /*margin-left: 170px;*/
}
.single{
    padding-right: 5px;
}
/*.single:hover,.double a:hover{
    background-color: #f4e9cf;
    border-radius: 8px;

}*/
.activeIcon{
    background-color: #f4e9cf;
    border-radius: 8px;

}
.selects{
    position: relative;
}
.childMenu{
    line-height: 26px;
    position: absolute;
    border: 1px solid #d7d7d7;
    width: 160px;
    font-size: 14px;
    top: 50px;
}
.childMenu strong{
    background-color: #dbdbdb;
    display: inline-block;
    width:100%;
    text-indent: 10px;
    font-weight: bold;
}
.childMenu b{
    display: inline-block;
    width: 100%;
    padding: 5px;
    box-sizing:border-box;
    font-weight: normal;
    font-size: 12px;
    background-color: #fff;
}
.content{
    height: 78%;
}
.contentRight_con{
    background-color: rgba(0,0,0,0.05);
    border: 1px solid #c5bfb2;
    border-radius: 8px;
    border-right: none;
    border-top-right-radius: 8px;
    -moz-border-radius-righttop: 8px; 
    margin-top: 10px;
    width: 170px;
}
.kongJian{
    height:100%;
    /*width:1200px;*/
    margin-left:170px;
}
.contentRightBox,.contentRight{
    position: absolute;
    right: 0;
    top: 50px;
}
.contentRight_con p{
    padding: 7px 5px;
    border-top-left-radius: 8px;
    /*border-top-right-radius: 8px;*/
    -moz-border-radius-topleft: 8px; 
    /*-moz-border-radius-rightleft: 8px; */
    background-color: rgba(0,0,0,0.1);

}
.rightIcon{
    position:absolute;top:200px;left:-210px;cursor:pointer;
    display: none;
}
.toggle{
    color: #fff;
    width: 20px;
    height: 16px;
    border: 1px solid #b1b0a9;
    background:url(../images/bg1.png) no-repeat center center;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    font-weight: bold;
}
.contentRight_con_con dl{
    background-color: #c3e6f1;
    border-radius: 8px;
    border: 1px solid #c5bfb2;
    padding:5px 10px;
    width: 50px;
    text-align: center;
    margin: 5px;
}
.contentRight_con_con dl dd{
    font-size: 12px;
}
.contentRight_con span{
    font-size: 14px;
    font-weight: bold;
}
.contentRight_con table{
    font-size: 12px;
    width: 100%;
}
.contentRight_con_con td{
    text-align: center;
}
thead{
    background-color: #b4b4b4;

}
thead td{
    height: 30px;
    font-weight: bold;
}
tbody tr{
    height: 26px;
    border-bottom: 1px solid #a0a0a0;
}
tbody tr:last-child{
    border-bottom:none;

}
.oneColu{
    border-right: 1px solid #a0a0a0;

}
.footer{
    background-color: #c0c3c4;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #9a9a9a;
    text-align: right;
}
.hk{
    width: 425px;
    float: right;
}
.foota{
    width: 90px;
    height: 25px;
    background-color: #dcdcdc;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    font-size: 14px;
}
.jd{
    float: right;
    margin-top: 10px;

}
.imgIcon{
     position: absolute;
    top: 50%;
    right: -28px;
    cursor: pointer;
    width: 50px;
    height:50px;
    text-align: center;

}
.aa{
   margin-top: 20px;
}
